* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 25px;
  margin: 20px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
